{% extends "base.html" %}

{% block content %}

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Find people to vouch!
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      	<ul class="list-group">
        {% for application in user.current_applications %}
          <a href="#" class="list-group-item">{{ application.unique_loan_id }} | {{ application.total_loan_amount }}</a>
        {% endfor %}
	    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Active Applications
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        	<ul class="list-group">
        {% for application in user.approved_applications %}
          <a href="#" class="list-group-item">{{ application.unique_loan_id }} | {{ application.total_loan_amount }}</a>
        {% endfor %}
	    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Submitted Applications
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
        {% for application in user.submitted_applications %}
          <a href="#" class="list-group-item">{{ application.unique_loan_id }} | {{ application.total_loan_amount }}</a>
        {% endfor %}
	    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Finished Applications
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
         <ul class="list-group">
        {% for application in user.finished_applications %}
          <a href="#" class="list-group-item">{{ application.unique_loan_id }} | {{ application.total_loan_amount }}</a>
        {% endfor %}
	    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Rejected Applications
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
         <ul class="list-group">
        {% for application in user.rejected_applications %}
          <a href="#" class="list-group-item">{{ application.unique_loan_id }} | {{ application.total_loan_amount }}</a>
        {% endfor %}
	    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Delinquent Applications
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
        {% for application in user.deliquent_applications %}
          <a href="#" class="list-group-item">{{ application.unique_loan_id }} | {{ application.total_loan_amount }}</a>
        {% endfor %}
	    </ul>
      </div>
    </div>
  </div>

</div>

<div class="btn-group dropup floating-action-button float-left">
    <button type="button" class="btn btn-info btn-fab btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
    <ul class="dropdown-menu dropdown-menu-right" style="min-width:0; background-color:transparent;">
        <li><a href="#" class="btn btn-danger btn-fab btn-raised"><i class="material-icons">clear</i></a></li>
    </ul>
</div>
{% endblock content %}